# Commons OS / IDEs
.DS_Store
.idea/
.vscode/
*.log/

coverage/

# Node.js
node_modules
yarn-error.log

# Nuxt build output
.nuxt/
output/
dist/
.output
.data
.nitro
.cache

# Nuxt generate output
*.static

# Env files
.env
.env.*
